<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <script src="../javascripts/axios.min.js"></script>
    <script>
        var putUser = function () {
            //console.log(document.getElementById('txtPwd').value,document.getElementById('txtUserName').value,document.getElementById('txtId').value);
            axios.put('/users', {
                id: Number(document.getElementById('txtId').value),
                userName: document.getElementById('txtUserName').value,
                password: document.getElementById('txtPwd').value
            }).then(res => {
                 console.log(res.data);
                if (res.data.result) {
                    alert("增加成功");
                    location.href = '/';
                }
                else
                alert('修改失败');
                //
            }).catch(err => {
                console.log(err);
            })
        }

        var postUser = function () {
            axios.post('/users', {
                id: Number(document.getElementById('txtId').value),
                userName: document.getElementById('txtUserName').value,
                password: document.getElementById('txtPwd').value
            }).then(res => {
                // console.log(res.data);
                if (res.data.result.length > 0) {
                    alert("修改成功");
                    location.href = '/';
                }
                else
                alert('修改失败');
            }).catch(err => {
                console.log(err);
            })
        }

        var deleteUser = function () {
            // console.log(document.getElementById('txtId').value);
            axios.delete('/users/' + document.getElementById('txtId').value).then(res => {
                if (res.data.result.length >0) {
                    alert("删除成功");
                    location.href = '/';
                }
                else {
                    alert("删除失败");

                }
                //console.log(res.data);
            }).catch(err => {
                console.log(err);
            })
        }

        var getUser = function () {
            axios.get('/users').then(res => {
                // console.log(res.data.result);
                let length = res.data.result.length;
                let tb = document.getElementById('tb');
                tb.createCaption().innerText = '查询结果';
                th = tb.insertRow();
                th.insertCell().innerText = "ID";
                th.insertCell().innerText = "用户名";
                th.insertCell().innerText = "密码";
                th.insertCell().innerText = "创建时间";
                th.insertCell().innerText = "更新时间";
                th.insertCell().innerText = "删除时间";
                for (let i = 0; i < length; i++) {
                    t1 = tb.insertRow();
                    t1.insertCell().innerText = res.data.result[i].id;
                    t1.insertCell().innerText = res.data.result[i].userName;
                    t1.insertCell().innerText = res.data.result[i].password;
                    t1.insertCell().innerText = res.data.result[i].created_at;
                    t1.insertCell().innerText = res.data.result[i].updated_at;
                    t1.insertCell().innerText = res.data.result[i].deleted_at == undefined || res.data.result[i].deleted_at == null ? '': res.data.result[i].deleted_at;
                }
            }).catch(err => {
                console.log(err);
            })
        }
    </script>
</head>

<body onload="getUser()">
    <table id='tb' border="1" style="text-align:center;" align="center">

    </table>
    <br>
    <form action="" method="post" style="text-align: center;">
        <input type="text" id="txtId" placeholder="输入ID进行修改，删除">
        <input type="text" id="txtUserName" placeholder="输入用户名进行增加，修改">
        <input type="text" id="txtPwd" placeholder="输入密码进行增加，修改">
        <input type="button" value="增加" onclick="putUser()">
        <input type="button" value="修改" onclick="postUser()">
        <input type="button" value="删除" onclick="deleteUser()">
    </form>
</body>

</html>